#virtual env
venv/
.venv/

# IDEs
.vscode/
.idea/

# Intermediate Coverage file
.coverage

# Output files
*.png

# Python runtime
*.pyc
*.egg-info
.pytest_cache

#dis
dist/

# Examples
examples.ipynb

# DS Store
.DS_store